<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:insert="header.html :: phoneHeader"></head>
<body>
<header th:insert="header.html :: nav"></header>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="image">
                <img th:src="@{${phone.getImg()}}" width="600"
                                       height="500" alt="Image" />
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${phone.getName()}">name</td>

                </tr>
                <tr>
                    <td>Processor</td>
                    <td th:text="${phone.getProcessor()}">processor</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td th:text="${phone.getPrice()}">price</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>
