<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<header th:insert="header.html :: updatePhoneHeader"></header>
<body>
<header th:insert="header.html :: nav"></header>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <form th:method="PATCH" th:action="@{/phones/{id}(id=${phone.id})}" th:object="${phone}">
                <div class="mb-3">
                    <label for="phoneName" class="form-label">New phone name</label>
                    <input name="name" type="text" class="form-control" id="phoneName"
                           aria-describedby="emailHelp" placeholder="New Name" th:field="*{name}">
                </div>
                <div class="mb-3">
                    <label for="phonePrice" class="form-label">New Price</label>
                    <input name="price" type="text" class="form-control" id="phonePrice"
                           placeholder="New Price" th:field="*{price}">
                </div>
                <div class="mb-3">
                    <label for="phoneProcessor" class="form-label">New Processor</label>
                    <input name="processor" type="text" class="form-control" id="phoneProcessor"
                           placeholder="New Processor" th:field="*{processor}">
                </div>
                <div class="mb-3">
                    <label for="phoneImage" class="form-label">Image</label>
                    <input name="img" type="text" class="form-control" id="phoneImage"
                           placeholder="New Image" th:field="*{img}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>

            </form>

        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>