<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:insert="header.html :: NewUser"></head>
<body>
<header th:insert="header.html :: nav"></header>
<a href="/app/users">users</a>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <form th:method="POST" th:action="@{/users}" th:object="${newUser}">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName </label>
                    <input name="name" type="text" class="form-control" id="UserName"
                           aria-describedby="emailHelp" placeholder="userName" th:field="*{userName}">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email </label>
                    <input name="email: " type="text" class="form-control" id="Email" placeholder="email"
                           th:field="*{email}">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input name="password" type="text" class="form-control" id="Password"
                           placeholder="password" th:field="*{password}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>