<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:insert="header.html :: Users"></head>
<body>
<header th:insert="header.html :: nav"></header>
<a href="users/new">addUser</a>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="user : ${users}">
                    <tr>
                        <td th:class="name_column" th:text="${user.getUserName()}">name</td>
                        <td th:class="name_column" th:text="${user.getEmail()}">name</td>
                        <td th:class="name_column" th:text="${user.getPassword()}">name</td>
                        <td th:class="name_column" th:text="${user.getRole()}">name</td>
                        <td th:class="name_column" th:text="${user.getStatus()}">name</td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>
